
h1 {
    font-size: 32px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-size: 28px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-size: 24px;
    color: black;
    font-family: 'Nunito', sans-serif;
}


p {
    font-size: 20px;
    color: black;
    font-family: 'PT Serif', serif;
}