
h1 {
    text-align: center;
    font-size: 32px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-size: 24px;
    color: black;
    font-family: 'Nunito', sans-serif;
}


p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'PT Serif', serif;
}

#header {
    width: 100%;
    background: darkred;
    min-height: 120px;
}

#body {
    width: 100%;
    min-height: 80%;
    background: aqua;
}

#container {
    background-color: green;
    height: 90%;
    min-height: 90%;
    resize: both;
    min-width: 100%;
}

#image {
    width: 100%;
    min-height: 100px;
    background: green;
}

#content {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background:white;
    overflow-wrap: break-word;
    padding: 5px;
}

#footer {
    min-height: 100px;
    background: lightcoral;
    min-width: 100%;
}

#button {
    min-height: 20px;
    min-width: 80px;
    text-align: center;
}

#login {
    margin-top: 70px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 100px;
    min-height: 100px;
    background: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
