html {
    background: #fff;
    font-family: 'Noto Serif TC', serif;
}

.picture {
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}

.searchbox {
    width: 350px;
}

.boxRound {
    border-sizing: border-box;
    width: content-box;
    border-radius: 3px 15px 3px 15px;
    background-color: #333;
}

button {
    font-family: 'Noto Serif TC', serif;
}

.type1 {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    margin-right: 70px;
    margin-top: 15px;
    display: inline-block;
    float: right;
}

.type1:hover {
    background-color: #111;
}

.type2 {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    display: inline-block;
}

.type2:hover {
    background-color: #111;
}

#login {
    align-content: center;
}
#page {
    background: #ffffff;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em 4em;
    min-width:500px;
    min-height: 1000px;
}

#content {
     background: #ffffff;
     min-height: 800px;
     padding: 1px;
 }

#footer {
    background: #333;
    margin-bottom: 5px;
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    float:left;
    bottom: 0;
}

#footer > p {
    color: white;
    text-align: center;
}

#menue {
    background: #FFF;
    display:block;
    overflow:auto;
    padding: 1px;
}

#menue ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menue li {
    float: left;
    width: 25%;
    font-size: 18px;
}

#menue li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menue li a:hover {
    background-color: #111;
}

#menueLittle { display: none; }

#menueicon img {
    display: none;
    height: 40px;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-family: 'Amatic SC', cursive;
}

p {
    color: #545454;
    font-size: 16px;
    font-family: 'Noto Serif TC', serif;
}

form {
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Noto Serif TC', serif;
}

@media screen and ( max-width: 1250px){
    #menue { display: none; }
    #menueicon img{
        display: inline;
        background-color: #ffffff;
        position: fixed;
        right: 0;
        z-index: 9;
    }
    #menueLittle {
        text-align: center;
        align-items: center;
        align-content: center;
        background-color: rgba(255,255,255,0.8);
        background-size: cover;
        z-index: 8;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        justify-content: center;
    }
    #menueLittle ul{
        align-content: center;
        text-align: center;
        align-items: center;
        margin:10%;
        list-style-type: none;
        padding: 10px;
    }
    #menueLittle ul li{
        text-align: center;
        align-content: center;
        width: auto;
        float: none;
        margin: 20px;
    }



    #menueLittle li a{
        color: #333333;
        font-size: 20px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #menueLittle ul li:hover{
        background-color: lightgray;
    }
    .type1{
        display:none;


    }
}
@media screen and (max-width: 630px){
    #page {
        background: #fff;
        max-width: unset;
        padding: unset;
        min-width: unset;
    }
    p {
        font-size: 10px;
    }

    #p {
        font-size: 16px;
    }

    #content {
        background: #FFF;
        min-height: 288px;
        padding: 1px;
    }

    div.divExperience {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 20px;
    }

    .searchbox {
        width: 180px;
    }
}

@media screen and (max-width: 418px){

    div#usernameAndPassword {
        float: unset;
        margin-left: 0px;
        min-height: 20px;
        margin-top: 180px;
        width: 150px;
    }

    div#createNewBlog {
        margin-top: 10px;
        display: block;
        min-height: 20px;
        width: 200px;
    }
}

#containerProfilepicture {
    border:1px solid black;
    height: 140px;
    width: 140px;
    display: inline-block;
    float: left;
}

#containerProfilepicture:hover {
    background: #333;

}

#containerProfilepicture:hover  p.textProfilepicture {
    color: white;
}

.textProfilepicture {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#usernameAndPassword {
    float: left;
    margin-left: 90px;
    min-height: 20px;
    width: 150px;
}

.buttonChangePassword {
    color: white;
    background: #333;
    border-style: none;
    padding: 6px;
}

.buttonChangePassword:hover {
    background: black;
}

.divExperience {
    float: left;
    background: #333;
    width: 30%;
    height: 120px;
    text-align: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 30px;
}

.divExperience:hover {
    background: black;
}

.divExperienceText {
    color: white;
}

.buttonsExperience {
    width: 100%;
    height: 100%;
    background: transparent;
    border-style: none;
}

#searchresults {
    margin-top: 10px;
    width: 100%;
    min-height: 200px;
    border:1px solid black;
}

#createNewBlog {
    margin-top: 250px;
    display: block;
    min-height: 20px;
    width: 200px;
}

#blogbox {
    margin-top: 10px;
    width: 100%;
    min-height: 400px;
    border:1px solid black;
}

.form {
    float: left;
}

#formInputFields {
    width: 50%;
}

#textarea {
    width: 100%;
    height: 60%;
}

#buttonCreateBlog {
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    background: #333;
    border-style: none;
    padding: 6px;
    float: right;
    font-size: 16px;
}

#buttonCreateBlog:hover {
    background: black;
}

#buttonCancelBlog {
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    background: #333;
    border-style: none;
    padding: 6px;
    float: left;
    font-size: 16px;
}

#buttonCancelBlog:hover {
    background: black;
}

.uploadFileContainer {
    width: 100%;
}

.panel-default {
    border:1px solid black;
    border-left: 0px;
    border-right: 0px;
}