html {
    background: #fff;
}

.picture {
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}

.searchbox {
    width: 350px;
}

.boxRound {
    border-sizing: border-box;
    width: content-box;
    border-radius: 3px 15px 3px 15px;
    background-color: #333;
}

.type1 {
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    margin-right: 70px;
    margin-top: 15px;
    display: inline-block;
    float: right;
}

.type1:hover {
    background-color: #111;
}

#page {
    background: #fff;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em 4em;
    min-width:500px;
}

#content {
     background: #FFF;
     min-height: 500px;
     padding: 1px;
 }

#footer {
    background:	#FFF;
    min-height: 100px;
    max-height: 100px;
}

#menue {
    background: #FFF;
    display:block;
    overflow:auto;
    padding: 1px;
}

#menue ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menue li {
    float: left;
    width: 25%;
}

#menue li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menue li a:hover {
    background-color: #111;
}

#menueLittle { display: none; }

#menueicon img {
    display: none;
    height: 40px;
}

h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

p {
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

form {
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

@media screen and ( max-width: 1250px){
    #menue { display: none; }
    #menueicon img{
        display: inline;
        background-color: #ffffff;
        position: fixed;
        right: 0;
        z-index: 9;
    }
    #menueLittle {
        text-align: center;
        align-items: center;
        align-content: center;
        background-color: rgba(255,255,255,0.8);
        background-size: cover;
        z-index: 8;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        justify-content: center;
    }
    #menueLittle ul{
        align-content: center;
        text-align: center;
        align-items: center;
        margin:10%;
        list-style-type: none;
        padding: 10px;
    }
    #menueLittle ul li{
        text-align: center;
        align-content: center;
        width: auto;
        float: none;
        margin: 20px;
    }

    #menueLittle li a{
        color: #333333;
        font-size: 20px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #menueLittle li a :hover{
        background-color: #111;
    }
    .type1{
        display:none;


    }
}
@media screen and (max-width: 630px){
    #page {
        background: #fff;
        max-width: unset;
        padding: unset;
        min-width: unset;
    }
    p {
        font-size: 10px;
    }
    #content {
        background: #FFF;
        min-height: 288px;
        padding: 1px;
    }

    #containerProfilepicture {
        border:1px solid black;
        height: 140px;
        width: 140px;
    }

    #textProfilepicture {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

