
h1 {
    text-align: center;
    font-size: 32px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: black;
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-size: 24px;
    color: black;
    font-family: 'Nunito', sans-serif;
}


p {
    font-size: 20px;
    color: black;
    font-family: 'PT Serif', serif;
}

#content {
    background-color: orange;
    min-height: 100px;
}

#header {
    min-height: 100px;
    width: 100%;
    padding: 5px;
    background: darkred;
}

#body {
    padding: 5px;
    width: 100%;
    min-height: 600px;
    background: aqua;
}

#container {
    background-color: green;
    height: 100%;
    margin: 0 auto -50px auto;
    min-width: 560px;
}

#footer {
    min-height: 100px;
    margin: 0 auto;
    background: lightcoral;
    padding: 5px;
}

