html {
    background: #fff;
}

#page {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em 4em;
    min-width:500px;
}

#menue {
    background: #FFF;
    display:block;
    overflow:auto;
    padding: 1px;
}
#menueLittle { display: none; }
#content {
    background: #FFF;
    min-height: 500px;
    padding: 1px;
}

#footer {
    background:	#FFF;
    min-height: 100px;
    max-height: 100px;
}

#menueicon img {
    display: none;
    height: 40px;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.picture {
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}

form {
    text-align: center;
}

.searchbox {
    width: 350px;
}

#signUp {
    margin-left: 10px;
    display: inline-block;
    float: right;
}